{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CARRITO</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Mi Carrito</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    {% if request.session.carro.items %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre del producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                            
                            <tbody>
                                {% for key, value in request.session.carro.items %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
                                    <img class="img-fluid" src="{{value.imagen}}" alt="" />
                                </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                    {{value.nombre}}
                                </a>
                                    </td>
                                    <td class="precio-pr">
                                        {% if value.cantidad < 2 %}
                                        <p>${{value.precio}}</p>
                                        {% else %}
                                        <p>${{value.precio2}}</p>
                                        {% endif %}
                                    </td>
                                    <td class="quantity-box">
                                        <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm">-</a>
                                        <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm">+</a>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'carro:eliminar' value.producto_id %}">
                                    <i class="fas fa-times"></i>
                                </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>          
                    </table>
                    {% else %}
                    <thead>
                        <div class="alert alert-danger text-center">
                            Sin Productos
                        </div>
                    </thead>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <div class="row my-5">
            <div class="col-lg-7 col-sm-12"></div>
            <div class="col-lg-12 col-sm-12">
                <div class="order-box">
                    <h3>Suma del carrito</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold">${{importe_total_carro}}</div>
                    </div>
                    <div class="d-flex">
                        <h4>Descuento</h4>
                        <div class="ml-auto font-weight-bold">${{descuento|floatformat:"2"}}</div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex gr-total">
                        <h5>Total</h5>
                        <div class="ml-auto h5">${{totaldes}}</div>
                    </div>
                    <div class="d-flex gr-total">
                        <h5>Total en dolares</h5>
                        <div class="ml-auto h5">${{dolar}}</div>
                    </div>
                    <hr> </div>
            </div>
            {% if user.is_authenticated and importe_total_carro > 0%}
                <div class="col-12 d-flex shopping-box"><a href="{% url 'checkout' %}" class="ml-auto btn hvr-hover">Confirmacion de pago</a></div>
            {% elif importe_total_carro == 0 %}
                <div class="col-12 d-flex shopping-box"><a href="{% url 'index' %}" class="ml-auto btn hvr-hover">Regresar al Inicio</a></div>
			{% else %}
                <div class="col-12 d-flex shopping-box"><a href="{% url 'index' %}" class="ml-auto btn hvr-hover">Regesar al inicio</a></div>
			{% endif %}
        </div>
    </div>
</div>


    {% endblock %}
    