{% extends 'core/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block contenido %}

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row new-account-login">
            <div class="col-sm-6 col-lg-6 mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Datos Personales</h3>
                    </div>
                    <form class="needs-validation" novalidate>
                        <form method="POST" enctype="multipart/form-data" id="form">
                            {% csrf_token %}
                            <table >
                                {{ form | crispy}}
                            </table>
                        </form>                      
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                </div>
                {% if request.session.carro.items %}
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Tu Orden </h3>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold">${{importe_total_carro}}</div>
                            </div>
                            <div class="d-flex">
                                <h4>Descuento</h4>
                                <div class="ml-auto font-weight-bold">${{descuento|floatformat:"2"}}</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex gr-total">
                                <h5>Total</h5>
                                <div class="ml-auto h5">${{totaldes}}</div>
                            </div>
                            <div class="d-flex gr-total">
                                <h5>Total en dolares</h5>
                                <div class="ml-auto h5">${{dolar}}</div>
                            </div>
                            <hr> </div>
                    </div>
                {% endif %}
                    <div class="col-sm-12 text-center">
						<div id = "btnPaypal"></div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- End Cart -->

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>


<script>
	paypal.Button.render({
		env: 'sandbox',
		client: {
			sandbox: 'Afkl4-gUYgFYYyRADItq-Ed5k26u51koPZJ-gEj_JQ0Eh7spquxj5TjlcyyEPkKtK1s3fvb9UPVpG6nH',
			production: 'demo_production_client_id'
		},
		locale: 'es_CL',
		style: {
			size: 'large',
			color: 'gold',
			shape: 'rect'
		},
		commit: true,
			
    payment: function (data, actions) {
		
				return actions.payment.create({
					transactions: [{
						amount: { 
							total: '{{dolar}}', // EL TOTAL DEL CARRITO DE COMPRA
							currency: 'USD'
						}
					}]
				})	
	},
	onAuthorize: function (data, actions) {
		return actions.payment.execute().then(function () {
			// LA LOGICA DE LO QUE PASA LUEGO DEL PAGO	
			var url = "{% url 'pedidos:procesar_pedido' %}"
			window.location.href = url;
		});
	},
	onCancel(data) {
		Swal.fire({
				title:'Cancelado',
				text: 'Transacción cancelada!',
				icon: 'error',
				showCancelButton: false,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Confirmar'
			})
	},
	onError(err) {
		Swal.fire({
				title:'Error',
				text: 'Ha ocurrido un error con el pago',
				icon: 'error',
				showCancelButton: false,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Confirmar'
			})
	}
	}, '#btnPaypal');
</script>
{% endblock %}