{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="wishlist-box-main">
    <div class="container">
        <div class="row">    
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>                            
                            </tr>
                        </thead>
                        {% for aux in lineapedido %}
                            <tbody>
                                <tr>
                                    <td class="name-pr">
                                        <a href="#">
                                            {{aux.producto}}
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            {{aux.cantidad}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                           
                        {% endfor %}
                    </table>    
                </div>
                <div class="container text-center mt-5">
                    <h1 class="display-4">Estado: {{pedido.estado}}</h1>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>


{% endblock %}