    {% extends 'core/base.html' %}

    {% load static %}

    {% block contenido %}
    
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'core/images/perro-lentes.jpeg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenidos a <br> PetShop</strong></h1>
                            <p class="m-b-25">"¡Bienvenido a nuestra tienda de mascotas, donde los peludos son nuestra pasión! Encuentra todo lo que necesitas para consentir a tu fiel compañero." </p>
                            <p><a class="btn hvr-hover" href="{% url 'about' %}">Subscribete ahora!!</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'core/images/gatito-perro.jpeg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenidos a <br> PetShop</strong></h1>
                            <p class="m-b-40">"¡Bienvenido a nuestra tienda de mascotas, donde los peludos son nuestra pasión! Encuentra todo lo que necesitas para consentir a tu fiel compañero."</p>
                            <p><a class="btn hvr-hover" href="{% url 'about' %}">Subscribete ahora!!</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'core/images/perrito.jpeg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenidos a <br> PetShop</strong></h1>
                            <p class="m-b-40">"¡Bienvenido a nuestra tienda de mascotas, donde los peludos son nuestra pasión! Encuentra todo lo que necesitas para consentir a tu fiel compañero."</p>
                            <p><a class="btn hvr-hover" href="{% url 'about' %}">Subscribete ahora!!</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="{% static 'core/images/gatito.jpeg' %}" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="{% static 'core/images/gato.jpeg' %}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- End Categories -->
	
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Resumen</h1>
                        <p>Aqui encontraras un resumen de todos nuestros productos.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                    </div>
                </div>
            </div>
            <div class="row special-list">
                {% for aux in listaProducto %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Mas vendido</p>
                            </div>
                            <div class="product-entry">
                                <img src="{{ aux.imagen.url }}" class="img-fluid" alt="Image">
                            </div>
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{% url 'productdetail' aux.id %}" data-toggle="tooltip" data-placement="right" title="Detalle"><i class="fas fa-eye"></i></a></li>
                                    {% if user.is_superuser %}
                                    <li><a href="{% url 'update' aux.id %}" data-toggle="tooltip" data-placement="right" title="Editar"><i class="fas fa-pen"></i></a></li>
                                    <li><a href="{% url 'delete' aux.id %}" data-toggle="tooltip" data-placement="right" title="Eliminar" ><i class="fas fa-trash"></i></a></li> 
                                    {% endif %}
                                </ul>
                                <a class="cart" href="{% url 'carro:agregar' aux.id %}">Añadir al carrito</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{ aux.nombre }}</h4>
                            <h5>${{ aux.precio }}</h5>
                            {% if aux.stock > 0 %}
                            <h5>Disponible: {{ aux.stock }}</h5>
                            {% else %}
                            <h5>Disponible: Sin Stock</h5>
                            {% endif %}    
                        </div>
                    </div> 
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Último blog</h1>
                        <p>Bienvenido a nuestro último blog, donde compartimos consejos y noticias sobre mascotas.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'core/images/gatito.jpeg' %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Apoya a una fundacion</h3>
                                <p>Descubre cómo cuidar adecuadamente a tu mascota con nuestros consejos útiles.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'core/images/gato.jpeg'%}" alt= />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Todo para tus mascotas</h3>
                                <p>Conoce las últimas tendencias en productos y accesorios para tu mascota.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'core/images/perro-reno.jpeg' %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Los mejores productos para tus mascotas </h3>
                                <p>Consigue descuentos con una suscripción</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->

    {% endblock %}
    