{% extends 'core/base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12 m-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form | crispy}}
                </table>
                <input type="submit" class="btn btn-success" value="Guardar">
                
            </form>
            <br><br><br>
            
        </div>
    </div>
</div>
    
 
{% endblock %}
    
{% block js  %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} 
        {% for aux in messages %} 
            <script>
            Swal.fire({
            title: 'Confirmación',
            text: '{{ aux }}',
            icon: 'success',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Confirmar'
            })
            </script>
        {% endfor %} 
    {% endif %}
{% endblock %}