{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Detalle de producto</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active"> Mi Producto </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="shop-detail-box-main">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-lg-5 col-md-6">
				<div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active"> <img class="d-block w-100" src="{{ listaProducto.imagen.url }}" alt="First slide"> </div>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6">
				<div class="single-product-details">
					<h2>{{listaProducto.nombre}}</h2>
					<h5><span class="price">${{listaProducto.precio}}</span></h5>
                    <h2><span class="price">Descripcion Producto</span></h2>

					<h5>{{listaProducto.descripcion}}</h5>
					<br>
					<div class="price-box-bar">
						<div class="cart-and-bay-btn">
							<a class="btn hvr-hover" data-fancybox-close="" href="{% url 'cart' %}">Añadir al carrito</a>
						</div>
					</div>
					<div class="add-to-btn">
						<div class="add-comp">
							<a class="btn hvr-hover" href="{% url 'wishlist' %}"><i class="fas fa-heart"></i> wishlist</a>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</div>
</div>

		



	{% endblock %}

