{% extends 'core/base.html' %}

{% load static %}


{% block contenido %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Mis pedidos</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                        <li class="breadcrumb-item active">Mis pedidos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">    
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id Pedido</th>
                                    <th>Usuario</th>
                                    <th>Hora</th>
                                    <th>Fecha</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            {% for aux in pedido %}
                            <tbody>
                                <tr>
                                    <td class="name-pr">
                                        <a href="#">
                                            #{{aux.id}}
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            {{aux.user}}
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            {{aux.created_at|date:'d/m/Y'}}
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            {{aux.created_at|time:'H:i' }}
                                        </a>
                                    </td>
                                    <td><a class="btn hvr-hover" href="{% url 'detallepedido' aux.id %}" readonly style="border:0; color:#FFFFFF; font-weight:bold;">Detalle Pedido</a>
                                    </td>
                                </tr>  
                            </tbody>  
                        {% endfor %}
                        </table>    
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                        <div class="product-categori">
                            <div class="filter-sidebar-left">
                                <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
  
    {% endblock %}