{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

 <!-- Start All Title Box -->
 <div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Subscripcion</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active"> Subscripcion </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

{% endblock %}